
              @font-face {
                font-family: DMSans;
                font-display: swap;
                src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
                font-weight: 700;
                font-style: normal;
              }
