header {
	min-height: 84px;
	//border: 5px blue solid;
}

.navbar {
	margin-top: 13px;
	display: flex;
	justify-content: space-between;

	img {
		width: 30px;
		height: 30px;
		box-shadow: 0 0 5px;
		display: none;
	}

}

.logo {
	font-family: Poppins;
	font-weight: 400;
	font-size: 25px;
	color: #002265;
}

.logo__2 {
	color: #14279B;
}

.nav-menu {
	//width: 678px;
	font-size: 25px;
	display: flex;
	justify-content: space-between;

	a {
		//width: 150px;
		text-align: center;
		text-decoration: none;
		color: #212121;
		padding: 0 15px 0 15px;
		border-radius: 5px;
		//border: 1px rgb(127, 153, 41) solid;
	}

	a:hover {
		background: blue;
		color: #fff;
	}
}

//Burger
.burger {

	font-size: 20px;
	//box-shadow: 0 0 5px;
	display: none;
	// transform: translateY(-100%);
	// transition: transform 0.5s;

	&__nav {
		border-radius: 5px;
		box-shadow: 0 0 5px;

		a {
			display: block;
			//text-align: center;
			text-decoration: none;
			color: #212121;
			padding: 0 15px 0 15px;
			//border-radius: 5px;
			//border: 1px rgb(127, 153, 41) solid;
		}

		a:hover {
			background: blue;
			color: #fff;
		}

	}
}

// .aktive {
// 	transform: translateY(0);
// }