header {
	min-height: 84px;
	//border: 5px blue solid;
}

.navbar {
	margin-top: 13px;
	display: flex;
	justify-content: space-between;

}

.logo {
	font-family: Poppins;
	font-weight: 400;
	font-size: 25px;
	color: #002265;
}

.logo__2 {
	color: #14279B;
}

.nav-menu {
	//width: 678px;
	font-size: 25px;
	display: flex;
	justify-content: space-between;

	a {
		//width: 150px;
		text-align: center;
		text-decoration: none;
		color: #212121;
		padding: 0 15px 0 15px;
		border-radius: 5px;
		//border: 1px rgb(127, 153, 41) solid;
	}

	a:hover {
		background: blue;
		color: #fff;
	}

}



//Burger
.burger {
	font-size: 0px;
	//box-shadow: 0 0 5px;
	display: none;
	//transition: font-size, transform 2s;

	&__container {
		min-width: 100%;
		display: none;
	}

	&__nav {
		position: relative;
		border-radius: 5px;
		box-shadow: 0 0 5px;

		a {
			display: block;
			//text-align: center;
			text-decoration: none;
			color: #212121;
			padding: 0 15px 0 15px;
			//border-radius: 5px;
			//border: 1px rgb(127, 153, 41) solid;
		}

		// a:hover {
		// 	background: blue;
		// 	color: #fff;
		// }

		a:visited {
			text-decoration: none;
			background: #fff;
			color: #212121;
		}

	}
}

.burg {
	width: 30px;
	height: 30px;
	box-shadow: 0 0 5px;
	display: none;
}

.aktive {
	display: block;
	font-size: 20px;
	animation-duration: 0.5s;
	animation-name: burgshou;
}

.navhiden {
	display: block;
	animation-duration: 0.5s;
	animation-name: burghiden;
}

@keyframes burgshou {
	from {
		font-size: 0px;
	}

	to {
		font-size: 20px;
	}
}

@keyframes burghiden {
	from {
		font-size: 20px;
	}

	to {
		font-size: 0px;
	}
}